@model BirdWatcherWebApp.Models.spotted

@{
    ViewData["Title"] = "spotted";
}
<head>
    <style>

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<h1>spotted</h1>

<h4>spotted</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="spotted">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuantitySpotted" class="control-label"></label>
                <input asp-for="QuantitySpotted" class="form-control" />
                <span asp-validation-for="QuantitySpotted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger" value="longit"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" value="latit" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <
    </div>
</div>
<h4>Select Sighting Location</h4>
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: -25.344, lng: 131.036 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 4, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlsKQ9J321eDpQ1droqnBHoLUkneA0W9A&callback=initMap">
    </script>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
