@model BirdWatcherWebApp.Models.spotted

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>spotted</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuantitySpotted" class="control-label"></label>
                <input asp-for="QuantitySpotted" class="form-control" />
                <span asp-validation-for="QuantitySpotted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" id="longitude" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" id="latitude" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h4>Where Did You Spot the Bird?</h4>
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                center: new google.maps.LatLng(2.8, -187.3),
                mapTypeId: 'terrain'
            });

            google.maps.event.addListener(map, 'click', function (event) {
                //var longit = event.LatLng.longit();
                //document.write(longit);
                //var latit = event.LatLng.latit();
                //document.write(latit);

                // display the lat/lng in your form's lat/lng fields
                document.getElementById("latitude").value = event.latLng.lat();
                document.getElementById("longitude").value = event.latLng.lng();


            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlsKQ9J321eDpQ1droqnBHoLUkneA0W9A&callback=initMap">
    </script>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>