@model BirdWatcherWebApp.Models.spotted

@{
    ViewData["Title"] = "spotted";
}
@{

}
<h1>spotted</h1>

<h4>spotted</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="spotted">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuantitySpotted" class="control-label"></label>
                <input asp-for="QuantitySpotted" class="form-control" />
                <span asp-validation-for="QuantitySpotted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h4>Select Sighting Location</h4>
<div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(2.8,-187.3),
          mapTypeId: 'terrain'
        });
    }
    google.maps.event.addListener(map, 'click', function(event) {

        var longit = event.LatLng.longit();
        document.write(longit);
        var latit = event.LatLng.latit();
        document.write(latit);
});


    </script>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlsKQ9J321eDpQ1droqnBHoLUkneA0W9A&callback=initMap">
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}